/* Tabs.module.css */
.tabsContainer {
    width: 100%;
  }
  
  .tabHeaders {
    display: flex;
  }
  
  .tabHeader {
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .tabHeader:hover {
    background-color: #f0f0f0;
  }
  
  .activeTab {
    background-color: #e0e0e0;
  }
  
  .tabContent {
    margin-top: 10px;
  }
  